<h1>Skillsets:</h1>
<%= link_to 'Create new SkillSet', new_skill_set_path %>
<div class="table-responsive">
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th class="col-name">Name</th>

	      <th class="col-name"></th>

	    </tr>
	  </thead>
	  <tbody>
	  <% for skill_set in @skill_sets %>
	    <tr>
	     	<td><%= link_to skill_set.name, skill_set_path(skill_set) %></td>

			<td><%= link_to 'edit',edit_skill_set_path(skill_set) %> | 
			<%= link_to 'Delete', skill_set_path(skill_set), method: :delete %></td>
	    </tr>
	  <% end %>
	  </tbody>
	</table>
</div>