<p id="notice"><%= notice %></p>

<h1>Listing Hello Worlds</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hello_worlds.each do |hello_world| %>
      <tr>
        <td><%= hello_world.name %></td>
        <td><%= link_to 'Show', hello_world %></td>
        <td><%= link_to 'Edit', edit_hello_world_path(hello_world) %></td>
        <td><%= link_to 'Destroy', hello_world, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hello world', new_hello_world_path %>
