<div class="side-nav">
<div class="side-nav-top-corner">
<%= image_tag "modev-logo.png" , :class => "side-bar-logo" %>
</div>
<div class="side-nav-menu">
<ul>
<%= link_to root_path do %>
	<li>
		<i class="glyphicon glyphicon-th-large"></i> Dashborad<i class="glyphicon glyphicon-chevron-right"></i>
	</li>
<% end%>
<%= link_to events_path do %>
	<li>
		<i class="glyphicon glyphicon-list-alt"></i> Events<i class="glyphicon glyphicon-chevron-right"></i>
	</li>
<% end%>
<%= link_to event_sessions_path do %>
	<li>
		<i class="glyphicon glyphicon-list-alt"></i> Sessions<i class="glyphicon glyphicon-chevron-right"></i>
	</li>
<% end%>
<%= link_to locations_path do %>
	<li>
		<i class="glyphicon glyphicon-list-alt"></i> Locations<i class="glyphicon glyphicon-chevron-right"></i>
	</li>
<% end%>
<%= link_to skill_sets_path do %>
	<li>
		<i class="glyphicon glyphicon-list-alt"></i> Skillsets<i class="glyphicon glyphicon-chevron-right"></i>
	</li>
<% end%>
<%= link_to sponsors_path do %>
	<li>
		<i class="glyphicon glyphicon-list-alt"></i> Sponsors<i class="glyphicon glyphicon-chevron-right"></i>
	</li>
<% end%>
<%= link_to venues_path do %>
	<li>
		<i class="glyphicon glyphicon-list-alt"></i> Venues<i class="glyphicon glyphicon-chevron-right"></i>
	</li>
<% end%>
<%= link_to social_events_path do %>
	<li>
		<i class="glyphicon glyphicon-list-alt"></i> Social<i class="glyphicon glyphicon-chevron-right"></i>
	</li>
<% end%>
<%= link_to speakers_path do %>
	<li>
		<i class="glyphicon glyphicon-list-alt"></i> Speakers<i class="glyphicon glyphicon-chevron-right"></i>
	</li>
<% end%>
<%= link_to members_path do %>
	<li>
		<i class="glyphicon glyphicon-user"></i> Users<i class="glyphicon glyphicon-chevron-right"></i>
	</li>
<% end%>
<%= link_to tickets_path do %>
	<li>
		<i class="glyphicon glyphicon-list-alt"></i> Registration Import<i class="glyphicon glyphicon-chevron-right"></i>
	</li>
<% end%>
</ul>
</div>
</div>