<div class="top-bar with-large-side-nav">
	<div class="col-md-4">
		<div class="top-bar-profile-image">
			<%= image_tag current_user.avatar.url, :class => "img-responsive" %>
		</div>
		<div class="top-bar-profile-info">

			<h3><%= "#{current_user.first_name} #{current_user.last_name}" %></h3>
	  		<h4>Logged in as <strong><%= current_user.email %></strong></h4>
			
		</div>
	</div>
	<div class="col-md-8 top-bar-profile-menu">
		<ul class="nav navbar-nav navbar-right">

			  <li>
			  	<%= link_to destroy_user_session_path, method: :delete, :class => 'navbar-link' do %>
			  		<i class="glyphicon glyphicon-log-out"></i> Logout
			  	<% end %>
			  </li>
		</ul>
	</div>
</div>