<div class="row">
  	 <%= simple_form_for @event do |f| %>
		
	<div class="col-md-4">
		<div class="form-input">
		<%= f.input :name %>
		<%= f.input :start_date %>
		<%= f.input :end_date %>
		<%= f.input :address1 %>
		<%= f.input :address2 %>
		<%= f.input :state %>
		<%= f.input :zip %>
		<%= f.input :country %>
	  	<%= f.button :submit %>
	  	</div>
	</div>
	 <% end %>
</div>