<h1>Events:</h1>
<%= link_to 'Create new Event', new_event_path %>
<div class="table-responsive">
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th class="col-name">Name</th>
	      <th class="col-name">Address 1</th>
	      <th class="col-name">Start Date</th>
	      <th class="col-name">End Date</th>
	      <th class="col-name">Address 1</th>

	    </tr>
	  </thead>
	  <tbody>
	  <% for event in @events %>
	    <tr>
	     	<td><%= link_to event.name, event_path(event) %></td>
	     	<td>
	     	<%= event.address1 %> 
	     	<%= event.address2 %><br/>
	     	<%= event.zip %>, 
	     	<%= event.state %>
	     	<%= event.country %></td>
	     	<td><%= event.start_date %></td>
	     	<td><%= event.end_date %></td>
			<td><%= link_to 'edit',edit_event_path(event) %> | 
			<%= link_to 'Delete', event_path(event), method: :delete %></td>
	    </tr>
	  <% end %>
	  </tbody>
	</table>
</div>
