<%= link_to 'back',events_path %>
<h1>Event Details</h1>
<h2>Name: <strong><%= @event.name %></strong></h2>
<h3>Address 1 <%= @event.address1 %></h3>
<h3>Address 2 <%= @event.address2 %></h3>
<h3>Zip <%= @event.zip %></h3>
<h3>State <%= @event.state %></h3>
<h3>Country <%= @event.country %></h3>
<h2>Start_date: <strong><%= @event.start_date %></strong></h2>
<h2>End_date: <strong><%= @event.end_date %></strong></h2>
