<div class="row">
  	 <%= simple_form_for @sponsor do |f| %>
		
	<div class="col-md-4">
		<div class="form-input">
		<%= f.input :title %>
		<%= f.input :body %>
	  	<%= f.button :submit %>
	  	</div>
	</div>
	 <% end %>
</div>