<h1>Sponsors:</h1>
<%= link_to 'Create new Sponsor', new_sponsor_path %>
<div class="table-responsive">
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th class="col-name">Title</th>
	      <th class="col-name">Body</th>

	      <th class="col-name"></th>

	    </tr>
	  </thead>
	  <tbody>
	  <% for sponsor in @sponsors %>
	    <tr>
	     	<td><%= link_to sponsor.title, sponsor_path(sponsor) %></td>
	     	<td><%=  sponsor.body %></td>

			<td><%= link_to 'edit',edit_sponsor_path(sponsor) %> | 
			<%= link_to 'Delete', sponsor_path(sponsor), method: :delete %></td>
	    </tr>
	  <% end %>
	  </tbody>
	</table>
</div>