<%= link_to 'back',sponsors_path %>
<h1>Sponsor Details</h1>
<h2>Title: <strong><%= @sponsor.title %></strong></h2>
<h2>Body: <strong><%= @sponsor.body %></strong></h2>

 


	     		      
	      
	      
	     
	      