<div class="col-md-8">
<h1>Update Csv</h1>
<%= simple_form_for @csv_file, url: ticket_path, html: {class: 'form-inline'} do |f| %>
	<%= f.error_notification %>
	<%= @csv_file.file_file_name %><br/>
	<%= f.input :note %>
  	<%= f.button :submit %>
 <% end %>
 </div>