
<h1>Upload registration data</h1>
<%= simple_form_for @csv_file, url: tickets_path, html: {class: 'form-inline'} do |f| %>
	<%= f.error_notification %>
	<%= f.input :file %>
	<%= f.input :note %>
  	<%= f.button :submit %>
 <% end %>

<h1>List of Available CSVs:</h1>
<div class="table-responsive user-table">
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th class="col-name">Name</th>
	      <th class="col-note">Note</th>
	    </tr>
	  </thead>
	  <tbody>
	  <% for csv_file in @csv_files %>

	      <td><%= csv_file.file_file_name %></td>
	      <td><%= csv_file.note %></td>
	      <td>
		  <% if csv_file.is_active %>
	      	<%= link_to 'De-Activate', activate_ticket_path(csv_file) %>
	      <% else %>
	      	<%= link_to 'Activate', activate_ticket_path(csv_file) %>
	      <% end %> |
	      <%= link_to 'Edit', edit_ticket_path(csv_file) %> |
	      <%= link_to 'Delete', ticket_path(csv_file), method: :delete %></td>
	    </tr>
	  <% end %>
	  </tbody>
	</table>
</div>

<h1>Registred:</h1>
	<table class="table table-striped">
	  <thead>
	    <tr>

	      <% TicketRegistration.get_structure.each do |key , value| %>
			<th><%= key %></th>
	      <% end %>
	    </tr>
	  </thead>
	  <tbody>
	    <% for menber in @registred %>
	<tr>
		     <% TicketRegistration.get_structure.each do |key , value| %>
	<td>
			<%= menber[key] %>
	</td>
	      <% end %>
	</tr>
	    <% end %>
	    </tbody>
	</table>