<h1>Venues:</h1>
<%= link_to 'Create new Venue', new_venue_path %>
<div class="table-responsive">
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th class="col-name">Title</th>
	      <th class="col-name">Body</th>

	      <th class="col-name"></th>

	    </tr>
	  </thead>
	  <tbody>
	  <% for venue in @venues %>
	    <tr>
	     	<td><%= link_to venue.title, venue_path(venue) %></td>
	     	<td><%=  venue.body %></td>

			<td><%= link_to 'edit',edit_venue_path(venue) %> | 
			<%= link_to 'Delete', venue_path(venue), method: :delete %></td>
	    </tr>
	  <% end %>
	  </tbody>
	</table>
</div>