<%= link_to 'back',venues_path %>
<h1>Venue Details</h1>
<h2>Title: <strong><%= @venue.title %></strong></h2>
<h2>Body: <strong><%= @venue.body %></strong></h2>

 


	     		      
	      
	      
	     
	      