<div class="row">
  <div class="col-md-6 col-md-offset-3">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="form-group">
    <%= f.email_field :email, :placeholder => "Your email here", :class =>"form-control", autofocus: true %>
  </div>
  <div class="form-group">
    <%= f.password_field :password, :placeholder => "Password", :class =>"form-control", autocomplete: "off" %>
  <% if devise_mapping.rememberable? -%>
    <div class="remenber-me text-right">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>
  </div>

  <div class="actions">
    <%= f.submit "Log in", :class =>"btn btn-default btn-block" %>
  </div>
<% end %>

<% render "devise/shared/links" %>
  </div>
</div>