<div class="row">
  	 <%= simple_form_for @event_session  do |f| %>
		
	<div class="col-md-4">
		<div class="form-input">
		<%= f.input :name %>
		<%= f.input :description %>
		<%= f.input :start_date, :input_html => { :class => 'date_picker' } %>
		<%= f.input :color %>
		<%= f.input :duration %>
		<%= f.input :physical_location %>
		<%= f.association :event %>
		<%= f.association :location %>
		<%= f.association :speakers,   as: :check_boxes %>
	  	<%= f.button :submit %>
	  	</div>
	</div>
	 <% end %>
</div>