<h1>Sessionss:</h1>
<%= link_to 'Create new Sessions', new_event_session_path %>
<div class="table-responsive">
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th style="width:5px;"></th>
	      <th class="col-name">Name</th>
	      <th class="col-name">Description</th>
	      <th class="col-name">Start Date</th>
	      <th class="col-name">Duration</th>
	      <th class="col-name">Event</th>
	      <th class="col-name">Physical location</th>
	      <th class="col-name">Location</th>
	      <th class="col-name">speakers</th>
	    </tr>
	  </thead>
	  <tbody>
	  <% for session in @event_sessions %>
	    <tr>
	     	<td style="width: 25px;min-height: 50px;margin:0;padding0;"><div style="width: 100%;height: 100%;margin:0;padding0; background-color: <%= session.color %>">&nbsp;</div></td>
	     	<td><%= link_to session.name, event_session_path(session) %></td>
	     	<td><%= session.description %></td>
	     	<td><%= session.start_date %></td>
	     	<td><%= session.duration %></td>
	     	<% if !session.event.nil? %>
	     	<td><%= session.event.name %></td>
			<% end %>
	     	<td><%= session.physical_location %></td>

	     	<% if !session.location.nil? %>
	     	<td><%= session.location.name %></td>
			<% end %>
			<td>
			<% for speaker in session.speakers %>
				<%= speaker.name %> <br/>
			<% end %>
			</td>
			<td><%= link_to 'edit',edit_event_session_path(session) %> | 
			<%= link_to 'Delete', event_session_path(session), method: :delete %></td>
	    </tr>
	  <% end %>
	  </tbody>
	</table>
</div>
