<%= link_to 'back',event_sessions_path %>
<h1>Session Details</h1>
<h2>Session Name: <strong><%= @event_session.name %></strong></h2>
<h2>Session Description: <strong><%= @event_session.description %></strong></h2>
<h2>Start Date: <strong><%= @event_session.start_date %></strong></h2>
<h2>Physical Location: <strong><%= @event_session.physical_location %></strong></h2>
<h2>Duration: <strong><%= @event_session.duration %></strong></h2>
<h2>Color: <strong><%= @event_session.color %></strong></h2>
<h2>Event Name: <strong><%= @event_session.event.name %></strong></h2>
<h2>Location: <strong><%= @event_session.location.name%></strong></h2>
<h2>Speakers:</h2>
<% for speaker in @event_session.speakers %>
<%= speaker.name %> <br/>
<% end %>