$side-nav-width: 220px;
$top-bar-height: 60px;
$main-blue: #c05539;
$very-light-blue: #05c3f9;
@import "bootstrap-sprockets";
@import "bootstrap";
html, body{
	background-color: $main-blue;
	background: url(asset-path("blue-bg.png"));
	margin: 0;
	padding: 0;
	height: 100%;
}
.rounded-image-in-table{
	width: 40px;
	height: 40px;
	border-radius: 25px;
	overflow: hidden;
	background-color: pink;
	text-align: center;
}
.form-image-upload{
	
}
.main-content{
	background-color: #f3f3f4;
	min-height: calc(100% - #{$top-bar-height});
	padding: 1px 15px;
	overflow-x: scroll;
}
@import "side_nav";
@import "top_bar";
@import "log_me_in";
@import "table_style";
@import "form_style";
