.form-inline{
	.form-plus{
		float: left;
	}
	.form-image-upload{
		margin-left: 5px;
		float: left;
	}
	.form-group, input{
	vertical-align: top;
	}
	.form-input{
		margin-left: 70px;
	}
	i{
	vertical-align: top;
	font-size: 15px;
	padding-top: 10px;
	}
	span.help-block{
	}
	.file-upload{
		margin-left: 20px;
	}
}