body.log-me-in{
	color: #FFF;
	.big-logo{
		padding-top: 30px;
		width: 80%;
		max-width: 400px;
		display:block;
		margin:auto;
	}

	input:-webkit-autofill {
		//removing yellow autofill color in chrome
	    -webkit-box-shadow: 0 0 0 1000px #fff inset;
	    -webkit-text-fill-color: #999;
	}
	input{
    	color: gray;
		max-width: 500px;
		margin: auto;
	}
	input.form-control{
		margin-top: 30px;
		font-size: 1.7em;
		height: 55px;
	}
	input.btn{
		max-width: 200px;
		// display: none;
	}
	.remenber-me{
		max-width: 500px;
		margin: auto;
		padding-top: 3px;
		label{
		margin-top: -5px;
		font-weight: 400;
		color: gray;
		}
	}
}