.with-large-side-nav{
	margin-left: $side-nav-width;
}
.side-nav{	
	position: absolute;
	width: $side-nav-width;
	color: #ffffff;
	a{
	color: #ffffff;
	text-decoration: none;
	}
	.side-nav-top-corner{
		padding: 20px 0;
		background-color: darken( $main-blue, 5% );
	}
	.side-nav-top-corner:hover{
		background-color: lighten( $main-blue, 5% );
	}
	.side-bar-logo{
		width: 40%;
		display:block;
		margin:auto;
	}
	.side-nav-menu ul{
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	.side-nav-menu ul li{
		padding: 10px;
	}
	.side-nav-menu ul li:hover{
		background-color: lighten( $main-blue, 5% );
	}
	.side-nav-menu i.glyphicon-chevron-right{

		float: right;
		font-size: .7em;
		margin-top: 3px;
	}
}
