.user-table{
	.col-profile{
		width: 60px;
	}
	.col-name{
		width: 250px;
	}
	.col-email{
		width: 250px;
	}
	.col-roles{
	width: 100px;
	}
	.col-last-active{
		width: 130px;
	}
	.col-links{
	width: 150px;
	}
}