.top-bar{
	background-color: #ffffff;
	color: #7F7F7F;
	height: $top-bar-height;
	overflow: hidden;
	z-index: 101;
}
.top-bar-profile-image{
	width: 40px;
	height: 40px;
	border-radius: 25px;
	overflow: hidden;
	background-color: pink;
	text-align: center;
	margin-top: 10px;
	margin-left: 10px;
	position:absolute;
}
.top-bar-profile-image img{
	min-width: 40px;
	max-height:none;
}
.top-bar-profile-info{
	margin-left: 60px;
	padding-top:15px;
	
}
.top-bar-profile-info h3{
	font-size: 1.2em;
	margin:0;
	padding:0;
}
.top-bar-profile-info h4{
	font-size: .9em;
	margin:0;
	padding:0;
}
.top-bar-profile-menu a{
	/*Need to center vertically*/
	height: $top-bar-height;
	color: $very-light-blue;
	padding-top: 20px;
}