<%= link_to 'back',socials_path %>
<h1>Scoail Details</h1>
<h2>Title: <strong><%= @social.title %></strong></h2>
<h2>Body: <strong><%= @social.body %></strong></h2>

 


	     		      
	      
	      
	     
	      