<h1>Socials:</h1>
<%= link_to 'Create new Social', new_social_event_path %>
<div class="table-responsive">
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th class="col-name">Title</th>
	      <th class="col-name">Body</th>

	      <th class="col-name"></th>

	    </tr>
	  </thead>
	  <tbody>
	  <% for social in @social_events %>
	    <tr>
	     	<td><%= link_to social.title, social_event_path(social) %></td>
	     	<td><%=  social.body %></td>

			<td><%= link_to 'edit',edit_social_event_path(social) %> | 
			<%= link_to 'Delete', social_event_path(social), method: :delete %></td>
	    </tr>
	  <% end %>
	  </tbody>
	</table>
</div>