<%= link_to 'back',social_events_path %>
<h1>Scoail Details</h1>
<h2>Title: <strong><%= @social_event.title %></strong></h2>
<h2>Body: <strong><%= @social_event.body %></strong></h2>

 


	     		      
	      
	      
	     
	      