<h1>Locations:</h1>
<%= link_to 'Create new Location', new_location_path %>
<div class="table-responsive">
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th class="col-name">Name</th>

	      <th class="col-name"></th>

	    </tr>
	  </thead>
	  <tbody>
	  <% for location in @locations %>
	    <tr>
	     	<td><%= link_to location.name, location_path(location) %></td>

			<td><%= link_to 'edit',edit_location_path(location) %> | 
			<%= link_to 'Delete', location_path(location), method: :delete %></td>
	    </tr>
	  <% end %>
	  </tbody>
	</table>
</div>