<div class="row">
  	 <%= simple_form_for @speaker do |f| %>
		
	<div class="col-md-4">
		<div class="form-input">
		<%= f.input :profile_image%>
		<%= f.input :first_name %>
		<%= f.input :last_name %>
		<%= f.input :title %>
		<%= f.input :company %>
		<%= f.input :description %>
		<%= f.input :twitter %>
		<%= f.input :user_id %>
	  	<%= f.button :submit %>
	  	</div>
	</div>
	 <% end %>
</div>