<h1>Speakers:</h1>
<%= link_to 'Create new Speaker', new_speaker_path %>
<div class="table-responsive">
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th class="col-name"></th>
	      <th class="col-name">Name</th>
	      <th class="col-name">Title</th>
	      <th class="col-name">Company</th>
	      <th class="col-name">description</th>
	      <th class="col-name">twitter</th>
	      <th class="col-name">user id</th>
	      <th class="col-name"></th>

	    </tr>
	  </thead>
	  <tbody>
	  <% for speaker in @speakers %>
	    <tr>
	     <td>
			<div class="rounded-image-in-table">
				<%= image_tag speaker.profile_image.url, :class => "img-responsive" %>
			</div>	
	      
	      </td>
	     	<td><%= link_to speaker.name, speaker_path(speaker) %></td>
	     	<td><%= speaker.title %></td>
	     	<td><%= speaker.company %></td>
	     	<td style="text-overflow: ellipsis;overflow:hidden;max-width: 200px;"><%= speaker.description.html_safe if speaker.description %></td>
	     	<td><%= speaker.twitter %></td>
	     	<td><%= speaker.user_id %></td>
			<td><%= link_to 'edit',edit_speaker_path(speaker) %> | 
			<%= link_to 'Delete', speaker_path(speaker), method: :delete %></td>
	    </tr>
	  <% end %>
	  </tbody>
	</table>
</div>
