<%= link_to 'back',speakers_path %>
<div class="row">
<h1>Speaker Details</h1>
<div class="rounded-image-in-table">
	<%= image_tag @speaker.profile_image.url, :class => "img-responsive" %>
</div>	

<h4>Name: <strong><%= @speaker.first_name %> <%= @speaker.last_name %></strong></h4>
<h4>title: <strong><%= @speaker.title %></strong></h4>
<h4>description: <strong><%= @speaker.description %></strong></h4>
<h4>twitter: <strong><%= @speaker.twitter %></strong></h4>
<h4>twitter: <strong><%= @speaker.user_id %></strong></h4>
<h4>Company: <strong><%= @speaker.company %></strong></h4>
</div>
