<!DOCTYPE html>
<html>
<head>
  <title>Modev</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= yield :body_style %>">

	<%= yield :secondary %>
	<div class="<%= yield :content_style %>">
		<%= yield :notice %>
		<%= yield %>
	</div>
	<%= yield :footer %>
</body>
</html>