<%= content_for :body_style do %><% end %>
<%= content_for :content_style do %> main-content with-large-side-nav <% end %>
<%= content_for :secondary do %>
	<%= render "shared/side_nav" %>
	<%= render "shared/top_bar" %>
<% end %>
<%= content_for :notice do %>
	<% if !flash[:notice].blank? %>
		<div class="alert alert-success" role="alert">
			<p class="notice"><%= flash[:notice] %></p>
		</div>
	<% end %>
	<% if !flash[:alert].blank? %>
		<div class="alert alert-warning" role="alert">
			<p class="notice"><%= flash[:alert] %></p>
		</div>
	<% end %>
<% end %>

<%= render template: "layouts/application" %>