<%= content_for :body_style do %> log-me-in <% end %>
<%= content_for :secondary do %>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
		<%= image_tag "modev-logo.png" , :class => "big-logo" %>
		</div>
	</div>
<% end %>
<%= content_for :footer do %>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<% if !notice.nil? %>
				<h3 class="text-center"><%= notice %></h3>
			<% end %>
			<% if !alert.nil? %>
				<h3 class="text-center"><%= alert %></h3>
			<% end %>
		</div>
	</div>
<% end %>
<%= render template: "layouts/application" %>
