<div class="row">
  	 <%= simple_form_for @member, html: {class: 'form-inline'} do |f| %>
		<%= f.error_notification %>
	<div class="col-md-12">
	
		<div class="form-plus">	
		<i class="glyphicon glyphicon glyphicon-plus text-muted"></i>
		</div>
		<div class="form-image-upload rounded-image-in-table">
				<%= image_tag @member.avatar.url, :class => "img-responsive" %>
		</div>
		<div class="form-input">
		<%= f.input :first_name, placeholder: 'First Name', label: false %>
		<%= f.input :last_name, placeholder: 'Last Name', label: false  %>
		<%= f.input :title, placeholder: 'Title', label: false  %>
		<%= f.input :company, placeholder: 'Company', label: false  %>
		<%= f.input :email, placeholder: 'user@email.com', label: false , input_html: {autocomplete: 'off'} %>
		<%= f.input :password, placeholder: 'password', label: false %>
	  	<%= f.button :submit %>
	  	</div>
	</div>
	<div class="file-upload">
	<%= f.input :avatar, label: 'Profile Image'%>
	</div>
	 <% end %>
</div>