<div class="row">
<h2>Edit Info:</h2>
  	 <%= simple_form_for @member, html: { } do |f| %>
		<%= f.error_notification %>
	<div class="col-md-12">

		<div class="form-image-upload rounded-image-in-table">
				<%= image_tag @member.avatar.url, :class => "img-responsive" %>
		</div>
				<%= f.input :avatar, label: 'Profile Image'%>
		<div class="form-input">
		<%= f.input :first_name, placeholder: 'First Name', label: false %>
		<%= f.input :last_name, placeholder: 'Last Name', label: false  %>
		<%= f.input :email, placeholder: 'user@email.com', label: false , input_html: {autocomplete: 'off'} %>
		<%= f.input :password, placeholder: 'password', label: false %>
	  	<%= f.button :submit %>
	  	</div>
	</div>
	<div class="file-upload">
	</div>
	 <% end %>
</div>