<h2 class="sub-header">Team Management:</h2>
<h3>Add A New Menber:</h3>
<%= render "create_new_user_inline" %>

<h2>List of All Team Menbers:</h2>
<div class="table-responsive user-table">
	<table class="table table-striped member-list">
	  <thead>
	    <tr>
	      <th class="col-profile"></th>
	      <th class="col-name">Name</th>
	      <th class="col-email">Email</th>
	      <th class="col-email">Title</th>
	      <th class="col-email">Company</th>
	      <th class="col-last-active">Last Active</th>
	      <th class=""></th>
	      <th class="col-links"></th>
	    </tr>
	  </thead>
	  <tbody>
	  <% for member in @members %>
	    <tr>
	      <td>
			<div class="rounded-image-in-table">
				<%= image_tag member.avatar.url, :class => "img-responsive" %>
			</div>	
	      
	      </td>
	      <td><%= member.name %></td>
	      <td><%= member.email %></td>
	      <td><%= member.title %></td>
	      <td><%= member.company %></td>
	      <td class="last_active"><%= friendly_d member.created_at %></td>
	      <td></td>
	      <td><%= link_to 'Edit', edit_member_path(member) %> | 
	      <%= link_to 'Delete', member_path(member), method: :delete %></td>
	    </tr>
	  <% end %>
	  </tbody>
	</table>
</div>
