<h1>Create a new User:</h1>
<div class="row">
	<div class="col-md-6">	
  	 <%= simple_form_for @member do |f| %>
		<%= f.error_notification %>
		<%= f.input :first_name %>
		<%= f.input :last_name %>
		<%= f.input :title, placeholder: 'Title', label: false  %>
		<%= f.input :company, placeholder: 'Company', label: false  %>
		<%= f.input :email %>
		<%= f.input :password %>
		<%= f.input :password_confirmation %>
	  	<%= f.button :submit %>
	 <% end %>
	</div>
</div>